@import '../../../global';
.boxWrapper {
    // padding: $box-padding-row;
}
.bookGao:hover {
    transform: scale(1.1);
    transition: all 0.25s ease-in;
    transition: all 0.25s ease-out;
}
.recommondBox {
    background: url('../../../statics/graves/bg.png') no-repeat;
    padding: 64px 32px;
}
.recommondCardBox {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.groundWrapper {
    padding: $box-padding-row;
}
.moreArticle {
    width: 100%;
    text-align: center;
}
