.MobileTitle {
    font-weight: bold;
}
.MobilePublicWrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #eee;
    padding: 24px 8px 20px;
    margin-bottom: 16px;
}
.MobilePublicWrapper:hover {
    box-shadow: 0 0 8px 8px #eee;
}
.MobileIndexWrapper {
    margin-top: -55px;
    padding: 0 50px;
}
.MobileVideoWrapper {
    display: flex;
    flex-wrap: wrap;
}
.MobileListItem {
    width: 100%;
}
.MobileListItem:hover {
    .MobileDistTitle {
        color: #000 !important;
    }
}
.MobileListTitle {
    color: #666;
}
.MobileListTitle:hover {
    color: #000;
}
.MobileListItem:hover {
    background-color: #f8fafc;
}
.MobilePlayer {
    height: 165px;
    width: 29%;
    overflow: hidden;
    min-width: 260px;
    margin-right: 16px;
    margin-bottom: 40px;
}
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    background-color: #c3c3c3;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #fff;
}
