.bookGao:hover {
    transform: scale(1.1);
    transition: all 0.25s ease-in;
    transition: all 0.25s ease-out;
}
.zhuanzhuCol {
    min-height: 270px;
    border-bottom: 1px #ccc dashed;
    /* padding: 0px 20px 60px 0; */
}
