.riyun {
    width: 520px;
    font-size: 18px;
}
.Header {
    // background-color: #bd4d4a;
    height: 84px;
    color: #fff;
    font-size: 44px;
    line-height: 84px;
    text-align: center;
    font-family: 'Fangzheng', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.Content {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
}
.ContentItemBox {
    display: flex;
    gap: 16px;
}
.ItemTitle {
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 14px;
    // font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.ContentItem {
    background-color: #fbf4ed;
    padding: 28px 8px;
    flex: 1;
    border-radius: 8px;
    text-align: center;
    line-height: 1.7;
    margin-bottom: 16px;
}
.ContentItemBox:last-child {
    .ContentItem {
        padding: 6px 3px;
    }
    .SmallTextParent {
        font-size: 16px;
        font-weight: bold;
    }
    .ItemTitle {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 2px;
    }
}
.SmallItem {
    display: flex;
}
.SmallText {
    font-size: 14px;
}
.SmallContent {
    flex: 1;
}
.SmallTextParent {
    font-weight: bold;
}
.shuiyin {
    font-size: 14px;
    color: #c0c5db;
    text-align: center;
    font-family: 'Fangzheng', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
