.riyun {
    width: 470px;
}
.Header {
    // background-color: #bd4d4a;
    height: 60px;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}
.Content {
    padding: 18px 22px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.ContentItemBox {
    display: flex;
    gap: 16px;
}
.ItemTitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
}
.ContentItem {
    background-color: #fbf4ed;
    padding: 28px 14px;
    flex: 1;
    border-radius: 8px;
    text-align: center;
    line-height: 1.7;
}
.ContentItemBox:last-child {
    .ContentItem {
        padding: 6px 4px;
    }
    .SmallTextParent {
        font-size: 12px;
        font-weight: bold;
    }
    .ItemTitle {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 2px;
    }
}
.SmallItem {
    display: flex;
}
.SmallText {
    font-size: 12px;
}
.SmallContent {
    flex: 1;
}
.SmallTextParent {
    font-weight: bold;
}
