.bookWrapper {
    background-color: #daa520;
    width: 90px;
    height: 130px;
    box-shadow: 0 15px 10px -14px #ff9933;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 40px;
    transition: all 0.25s ease-in;
}
.bookWrapper:hover {
    box-shadow: 0px 0px 5px #daa520;
    transform: translateY(-8px);
}
.encapsulation {
    float: left;
    padding-top: 1px;
    width: 15px;
    border-right: 1px solid #eee;
}
.bookTitle {
    color: #000;
    float: right;
    margin-top: 4px;
    border: 1px solid #fff;
    width: 20px;
    min-height: 40px;
    margin-right: 6px;
    padding: 1px;
    background-color: #fff;
}
.bookContentTitle {
    border: 2px solid #daa520;
}
