.title {
    font-weight: bold;
}
.publicWrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #eee;
    padding: 24px 32px 20px;
}
.publicWrapper:hover {
    box-shadow: 0 0 8px 8px #eee;
}
.indexWrapper {
    margin-top: -55px;
    padding: 0 50px;
}
.videoWrapper {
    display: flex;
    flex-wrap: wrap;
}
.listItem {
    width: 100%;
}
.listItem:hover {
    .listTitle {
        color: #000 !important;
    }
}
.listTitle {
    color: #666;
}
.listTitle:hover {
    color: #000;
}
.listItem:hover {
    background-color: #f8fafc;
}
.player {
    height: 165px;
    width: 29%;
    overflow: hidden;
    min-width: 260px;
    margin-right: 16px;
    margin-bottom: 40px;
}
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    background-color: #c3c3c3;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-15rg2km).ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
    background-color: #fff;
}
