$box-padding-row: 32px;
$box-padding-left: 32px;
$box-padding-right: 32px;

$main-mu-color: #83a640;
$sub-mu-color: #f0fcef;

$main-tu-color: #7d4723;
$sub-tu-color: #fcf1e5;

$main-huo-color: #cd4245;
$sub-huo-color: #fdf3ed;

$main-jin-color: #f7bb23;
$sub-jin-color: #fff7eb;

$main-shui-color: #2775b7;
$sub-shui-color: #f2f9ff;
@font-face {
    font-family: 'Britanic';
    src: url('./statics/fonts/BRITANIC.TTF') format('truetype');
}
